<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>tarun</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>fr</display-name>
    	<servlet-name>fr</servlet-name>
    	<servlet-class>fr</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>own_serv</display-name>
    	<servlet-name>own_serv</servlet-name>
    	<servlet-class>servlets.own_serv</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RET_OWN</display-name>
    	<servlet-name>RET_OWN</servlet-name>
    	<servlet-class>servlets.RET_OWN</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>loginpage</display-name>
    	<servlet-name>loginpage</servlet-name>
    	<servlet-class>servlets.loginpage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>fr</servlet-name>
    	<url-pattern>/fr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>own_serv</servlet-name>
    	<url-pattern>/own_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RET_OWN</servlet-name>
    	<url-pattern>/RET_OWN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>loginpage</servlet-name>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    </web-app>
